<div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="Enter your email"
                    >
                <p *ngIf="!f.email.valid && (submitted || f.email.touched)">
                    email is required 
                </p>
            </div>
    
            <div class="form-group">
                <input type="password" class="form-control"  placeholder=" Enter apassword" 
                name="password" id="password" formControlName="password">
                <p *ngIf="!f.password.valid && (f.password.touched||submitted)">
                    password is required 
                </p>
            </div>
    
            <button type="submit" class="btn btn-primary">LogIn</button>
            <div id="formFooter">
                <a  routerLink="/register">Register?</a>
            </div>
            <div *ngIf="errorMsg">
                <p>{{errorMsg}}</p>
            </div>
        </form>
    </div>
